@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.hed {
  font-family: 'Archivo Black', sans-serif;
}

.byline {
  font-family: 'Fira Mono', monospace;
}

.logo-lockup {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
}

.logo-lockup a {
  display: block;
  cursor: pointer;
}

.logo-lockup a .logo {
  width: 60px;
  height: 60px;
  background: #EAE7D6;
}

.logo-lockup a small {
  display: block;
  transform: rotate(-90deg);
  margin-top: 0;
  font-size: 1rem;
  line-height: 60px;
  opacity: 0;
  padding: 0 20px;
  top: 60px;
  left: -30px;
  position: fixed;
  z-index: -1;
  transition: all .25s ease-in-out;
  color: #7b3af5;
}

.idyll-root a {
  /*color: #7b3af5;*/
}

.hed {
  width: 100%;
}

.logo-lockup a:hover small {
  opacity: 1;
  top: 120px;
}

@media all and (max-width: 700px) {
  .logo-lockup {
    display: none;
  }
}

.aside {
  width: calc(100vw - 700px - 125px);
  right: unset;
  left: 625px;
  top: -25px;
}


.aside.title {
  top: -200px;
}

@media all and (max-width: 1000px) {
  .aside {
    width: 100%;
  }
}

.dek {
  /*color: #bbb;*/
  font-weight: normal;
}

blockquote {
  font-style: italic;
  color: #666;
}

.note p {
  font-size: small !important;
  font-style: italic;
}

small {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}
small p {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

small span {
  font-size: small;
  font-style: italic;
  /*font-weight: bold;*/
}

.inset {
  max-width: 300px;
  margin: 60px auto;
  text-align: center;
}

input[type=range] {
  margin: 0 10px;
}

button {
  cursor: pointer;
}


tspan {
  font-family: Verdana;
  font-size: 11px;
}

input {
  cursor: pointer;
}

thead {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 10px;
  color: black;
  border-bottom: solid 2px black;
  vertical-align: bottom;
}

table {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
}

td {
  padding: 10px 10px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: top;
  max-width: 75%;
}
th {
  padding: 10px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr.selected {
  background-color: #ccc;
}
td.number {
  font-family: 'Fira Mono', monospace;
  text-align: right;
}

tspan {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #EAE7D6;
}
